# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Ex6.iml
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../:\Projects\Rider\HW4\Ex6\.idea\.idea.Ex6\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
